.controls {
  position: fixed;
  display: flex;
  gap: 1rem;
  right: 0;
  padding: 1rem;
  background-color: white;
}

.control {
  display: flex;
  flex-direction: column;
}

.control label {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.control select {
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
}

#apply {
}
